/* ==========================================================================

   Util -> Variables

   ========================================================================== */

/* Variables -> Colors
   ========================================================================== */
$c-black: #4A4A4A;
$c-white: #fff;
$c-zealery--pink: #FF685A;
$c-zealery--pinkshadow: rgba(172, 45, 45, 50);
$c-zealery--light: #FCF3F2;
$c-zealery--lightshadow: rgba(106, 17, 17, 50);
$c-trailtag--teal: #106469;
$c-trailtag--shadow: rgba(5, 68, 72, 50);
$c-trailtag--light: #E1E8E8;
$c-nifty--purple: #5A1537;
$c-nifty--light: #F9F2F5;
$c-me--purple: #745E84;
$c-me--light: #FBF6FF;
$c-videogame--blue: #394C78;
$c-videogame--light: #F5F9FF;
$c-transparent: rgba(0, 0, 0, 0);

/* Variables -> Gradients
   ========================================================================== */


/* Variables -> Breakpoints
   ========================================================================== */

$bp-mobile:       500px;
$bp-mobile-horiz: 600px;
$bp-tablet-vert:  768px;
$bp-tablet-horiz: 1080px;
$bp-laptop:       992px;
$bp-desktop:      1200px;
$bp-desktop-xl:   1440px;
$bp-desktop-xxl:  1560px;

/* Variables -> Fonts
   ========================================================================== */

@font-face {
 font-family: Bitter;
 src: url(/fonts/Bitter-Italic.ttf),
}
@font-face {
 font-family: Asap;
 src: url(/fonts/Asap-Regular.ttf),
}

$f-bitter: 'Bitter', serif;
$f-asap: 'Asap', sans-serif;

/* Variables -> Layout
   ========================================================================== */
$m-grid-col2: 35%; //left margin
$m-grid-col1: 15%; //left margin
$w-grid-col2: 85%; //width

/* Variables -> Easings
   ========================================================================== */

$hover-time: .25s;
