/* ==========================================================================

   Util -> Variables

   ========================================================================== */

/* Variables -> Colors
   ========================================================================== */
$c-black: #4A4A4A;
$c-white: #fff;
$c-zealery--pink: #FF685A;
$c-zealery--light: #FCF3F2;
$c-trailtag--teal: #106469;
$c-trailtag--light: #E1E8E8;
$c-nifty--purple: #5A1537;
$c-nifty--light: #F9F2F5;
$c-me--purple: #745E84;
$c-me--light: #FBF6FF;

/* Variables -> Gradients
   ========================================================================== */


/* Variables -> Breakpoints
   ========================================================================== */

$bp-mobile:       500px;
$bp-mobile-horiz: 600px;
$bp-tablet-vert:  768px;
$bp-tablet-horiz: 1080px;
$bp-laptop:       992px;
$bp-desktop:      1200px;
$bp-desktop-xl:   1440px;
$bp-desktop-xxl:  1560px;

/* Variables -> Fonts
   ========================================================================== */

$f-bitter: 'Bitter', serif;
$f-asap: 'Asap', sans-serif;

/* Variables -> Layout
   ========================================================================== */


/* Variables -> Easings
   ========================================================================== */
