/* ==========================================================================

   Util -> Variables

   ========================================================================== */

/* Variables -> Colors
   ========================================================================== */


/* Variables -> Gradients
   ========================================================================== */


/* Variables -> Breakpoints
   ========================================================================== */

$bp-mobile:       500px;
$bp-mobile-horiz: 600px;
$bp-tablet-vert:  768px;
$bp-tablet-horiz: 1080px;
$bp-laptop:       1100px;
$bp-desktop:      1200px;
$bp-desktop-xl:   1440px;
$bp-desktop-xxl:  1560px;

/* Variables -> Fonts
   ========================================================================== */


/* Variables -> Layout
   ========================================================================== */


/* Variables -> Easings
   ========================================================================== */
