---
layout: base
title: TrailTag Case Study
---

<div class="page--trailtag">
  {% include layout/header.html %}

  <div class="content">

    <!--hero-->
    {% include components/hero.html
    question='How can we create a reassuring but non-intrusive experience for outdoor sports?'
    role='design lead' client='trailtag' kind='ui &amp; ux' date='Spring 2017'%}

    <!--r+d-->
    <div class="research dark">
      {% include components/project-section.html
      subhead='the project'
      par1='Our client approached us to design and develop a mobile app that paired with a physical location tracking device for use in outdoor sports, a product that would aid in finding people lost in woods and mountains. I lead a team of four through a modified Agile/Scrum process, meeting weekly with the client for the duration of a full semester (4 months)! The project included a research and discovery phase, branding, ux wireframes, high fidelity design, and development of the TrailTag mobile app.'
      img2='trailtag/section--logo.png' alt='logo'
      caption='this is a tester caption and i hate my life' %}
    </div>

    <!--photo-->
    <div class="hike">
      {% include components/project-section.html %}
    </div>

    <!--ux-->
    <div class="ux white">
      {% include components/project-section.html
      subhead='creating <br>a ux system'
      par1='Our first weeks of wireframing were all-hands-on-deck as we mapped out, flow-by-flow, each corner of the TrailTag app. We realized quickly how large our UX system would be, given the sheer amounts of the overlapping states the app would have. Member in a group vs. not-yet-joined-a-group, regular state vs. emergency state, emergency state for the one who sent the distress signal vs. users receiving the distress signal, out-of-range users, etc: and all of these divided further into admin view vs. regular user view. Plus you could download maps!<br>
      <br>
      We used paper wireframes (pencils + scissors + little interface component puzzle pieces)  to collaboratively piece together full flows. We then translated our paper wireframes into Balsamiq screens to place into an InVision prototype to update and present to our client at each weekly meeting. We realized quickly that Balsamiq’s limitations as a program made the rapid iteration and duplication of all of our overlapping flows a difficult task to accomplish easily, and retrospectively we agreed that we would have rather used a Sketch file to create low-fi mockups if we had to start all over again!'
      img2='trailtag/section--ux.png' alt='logo' %}
    </div>

    <!--visual-->
    <div class="visual white">
      {% include components/project-section.html
      subhead='creating a <br>visual system'
      par1='Because our app would be used by people in a variety of outdoor situations, our interface had to be as easy as possible for people to use under fast-paced and limiting circumstances. For that reason, one of our main focuses when approaching high fidelity mockups was creating a consistent color and visual system that relayed the most important information to users upon first glance.'
      img2='trailtag/section--user.png' alt='hifi iphone mockups'
      par2='<h3>USERS ON THE MAP: Guides vs. Non-Guides</h3>
      <p>One primary peice of information users would want to know at first glance is who are the guides, and where are they? To indicate this easily, guide markers and associated elements are light blue, while non-guide markers and associated elements are TrailTag teal. For ease of quickly recognizing your own marker on the map, that marker is visually bigger than the others surrounding it. </p>'
      img3='trailtag/section--distress.png' alt='hifi iphone mockups'
      par3='<h3>DISTRESS MODE</h3>
      <p>The third color code we introduced into the app signifies distress, whether you are in distress or a user near you is. The distress color is red, which we believed to be the most direct and universal. The markers and associated secondary elements of user’s in distress appear red. Red is incorporated into the secondary elements of other user’s when you yourself are in Distress Mode. </p>'
      img4='trailtag/section--secondaryInfo.png' alt='hifi iphone mockups'
      par4='<h3>SECONDARY USER INFO: Full Name and options</h3>
      <p>The secondary information associated with the markers would come after tapping on a certain marker: you would see their full name, their approximate distance from you, and two options that allow you to navigate towards or message the user selected. You can also swipe the the popup to scroll to the rest of the members whose markers are currently visible on your page. </p>'
       %}
    </div>

    <!--navigation-->
    <div class="navigation light">
      {% include components/project-section.html
      subhead='creating a<br>navigation system'
      par1='Another major focus in our high-fi mockups was the navigation we presented users. Based on inspiration from Material design, we decided to create a two-button primary navigation system with a hamburger menu for less important actions. Our first button was a given: we needed to give users the fastest, most obvious way to send a distress signal to the rest of their group with minimal motion/interaction. We implemented a one-touch emergency signal flow: if the user presses the button, the signal is delayed 10 seconds so that the user is able to cancel it (if they pressed it by mistake), but it remains a one-click process for those in distress as the signal automatically sends after 10 seconds if not cancelled.<br>
      <br>
      The second button on the screen gives users access to the group details and messaging component of the TrailTag app. It consists of two parts: the first screen, which is a list of every member in your group that can be used to navigate towards those members on the map. The second screen is a messages feature that works without a cell signal via the bluetooth connection of the TrailTag devices. <br>
      <br>
      The hamburger menu includes all secondary navigation of the app that varies slightly for guides vs. non-guides, including logout, leave group, edit settings, etc.'
      img2='trailtag/section--navigation.png' alt='logo' %}
    </div>

    <!--team photo-->
    <div class="team dark">
      {% include components/project-section.html
      img1='trailtag/section--ourTeam.png'
      caption='here’s a photo of our team “pretending” to use the app in context during a photoshoot' %}
    </div>

  </div>

  {% include layout/footer.html %}
</div>
