---
layout: base
title: about julie
permalink: /about/
---

<div class="page--about">
  {% include layout/header.html %}

  <div class="content">

    <div class="hero__intro">
      <div class="project-section">
        <div class="container">

          <div class="about__container">
            <div class="about__img--container">
              {% include icons/myface.html
                class="about__img"%}
            </div>

            <div class="about__text--container">
              <h1 class="about__greeting">Hello!</h1>
              <p class="about__text">I’m an Interaction Design major in my fifth and final year at Northeastern University in Boston MA, a city that has stolen my heart! I’m a long time lover of illustration and clean, intentional layouts, but my biggest passion lies in UI/UX design. I’m inspired by design that strives to improve people’s experiences, and obsessed with the problem solving that goes on behind the screens people see. My latest obsession is hover states and micro-interactions that bring websites to all new levels of life! bring websites to all new levels of life! bring websites to all new levels of life! bring websites to all new levels of life! bring websites to all new levels of life! bring websites to all new levels of life! bring websites to all new levels of life! bring websites to all new levels of life!</p>
              <div class="experience__container">
                <div class="experience__item">
                  <h2 class="experience__h2">currently</h2>
                  <p class="experience__text">design director, <a>scout studio</a></p>
                </div>
                <div class="experience__item">
                <h2 class="experience__h2">previously</h2>
                  <p class="experience__text">visual ui co-op, <a>levelup</a></p>
                  <p class="experience__text">design lead, <a>scout studio</a></p>
                  <p class="experience__text">design co-op, <a>nec</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  {% include layout/footer.html %}
</div>
