---
layout: base
title: about julie
permalink: /about/
---

<div class="page--about">
  {% include layout/header.html %}

  <div class="content">

    <div class="project-section">
      <div class="about__container">

        <!-- <div class="about__text--mask">
          <div class="about__text--hover">
            <h1 class="about__text">hi, i’m Julie:<br>an interaction designer who loves the problem solving that goes on behind screens.</h1>
          </div>
        </div> -->
        <div class="about__text--before">
          <h1 class="about__text">hi, i’m Julie,</h1>
          <h1 class="about__text about__text--fact">an interaction designer who loves the problem solving that goes on behind screens.</h1>
        </div>

      </div>
    </div>

  </div>

  {% include layout/footer.html %}
</div>
