---
layout: base
title: Holiday Concerts
permalink: /holiday/
---

<div class="page--holiday">
  {% include layout/header.html %}

  <div class="content">

    <!--hero-->
    {% include components/hero.html
    color='dark'
    question='holiday<br>concerts'
    role='design co-op' kind='illustration<br>&amp; print' date='fall 2015'%}

    <!--the project-->
    <div class="project-section background light">
      {% include components/subhead.html
      subhead='project background' %}

      {% include components/text-block.html
      class='text-block'
      par='This is the creative I designed for New England Conservatorys holiday concert series. The campaign includes a large
      format sign displayed outside of NECs concert hall, a program stuffer inserted into concert programs at all of NECs concerts
      for the month of December, an email graphic, and a web graphic for NECs website. After designing multiple concepts for this
      campaign, I decided on the sweater design because it felt the most attention grabbing, holiday-neutral, and relevant to todays
      holiday fads. A giant sweater on Huntington Ave felt sure to grab the attention of everyone walking by, and attract potential
      audience members to get a closer look.' %}
    </div>

    <!--photo-->
    <div class="closeup">
      <div class="project-section dark"></div>
    </div>

    <!-- prev-next -->
    {% include components/prev-next.html
      color = 'light'
      prev = 'zealery'
      next = 'trailtag'
    %}

  </div>

  {% include layout/footer.html %}
</div>
