---
layout: base
title: Hello
---

<div class="page--home">
  {% include layout/header.html %}

  <div class="content">

    <div class="hero__intro">
      <div class="project-section">
        <div class="container">

          <div class="intro__container">
            <div class="intro__img--container">
              {% include icons/myface.html
                class="intro__img"%}
            </div>

            <div class="intro__text--container">
              <h1 class="intro__name">Julie Tennett</h1>
              <p class="intro__about">a designer who does ui / ux / product / digital / illustrationy things and loves finding make-life-easier solutions fueled by empathy and cool code</p>
            </div>
          </div>

          <div class="intro__links--container">
            <div class="intro__item">
              <div class="intro__link--mask">
                <div class="intro__link--hover"><a class="secondary-link intro__link">view my resume</a></div>
              </div>
              <div class="intro__link--before"><a class="secondary-link intro__link" href="/img/pdf/tennett_resume_Feb2018.pdf">view my resume</a></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="project-section">
      <div class="work__links--container">
        <div class="container">
          <div class="link--container link--zealery">
            <a class="work__link" href="/zealery">zealery</a>
            <div class="hover__description"><p class="hover__description--text">ui & ux</p></div>
          </div>
          <div class="hover__img hover__img--zealery"> </div>

          <div class="container">
            <div class="link--container link--videogame">
              <a class="work__link" href="/videogame">videogame</a>
              <div class="hover__description"><p class="hover__description--text">illustration & programming</p></div>
            </div>
            <div class="hover__img hover__img--videogame"> </div>

          <div class="link--container link--trailtag">
            <a class="work__link" href="/trailtag">trailTag</a>
            <div class="hover__description"><p class="hover__description--text">ui & ux</p></div>
          </div>
          <div class="hover__img hover__img--trailtag"> </div>

          <div class="link--container link--nifty">
            <a class="work__link" href="/nifty">nifty</a>
            <div class="hover__description"><p class="hover__description--text">brand, ui & ux</p></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% include layout/footer.html %}
</div>
