---
layout: base
title: unsent | Julie Tennett
permalink: /unsent/
---

<div class="page--unsent">
  {% include layout/header.html %}

  <div class="content">

    <!--hero-->
    {% include components/hero.html
    color='dark'
    question='how can i design a impactful, non-traditional reading experiece?'
    class='independent study' kind='ui & ux, illustration, front-end' date='spring 2018' %}

    <!--the project-->
    <div class="page-section background light">
      <div class="center-container">
        {% include components/subhead.html
        subhead='project background' %}

        {% include components/text-block.html
        class='text-block'
        par='Unsent began in the summer of 2017 as a creative writing piece exploring hybrid writing, where I explored and processed leftover feelings from a past relationship. Since it’s conception, I wanted to layer more and more media into this piece, and I hoped to combine my writing with my love for digital design and front-end development. I saw the perfect opportunity to do so as an independent study during my last semester of undergrad!<br>
        <br>Unsent challenges the traditional online reading experience in order to create a more impactful and emotional experience for the reader. It combines illustrations, transitions, and animation to curate an experience in which the reader can to step into the narrator’s shoes and feel like they’re the ones sitting down at the computer, typing all of my words left unsaid.
        <br>
        <br>View the live site <a class="text-block__link" href="www.unsent.co" target="_blank">here!</a>' %}

      </div>
    </div>

    <!--the project-->
    <div class="page-section mockup dark">
      <div class="img--container">
        <img class="mockup--img" src="/img/unsent/section-mockup.gif" alt="">
      </div>
    </div>

    <!-- prev-next -->
    {% include components/prev-next.html
      color = 'light'
      prev = 'zealery'
      next = 'trailtag'
    %}

  </div>

  {% include layout/footer.html %}
</div>
