---
layout: base
title: Video Game
permalink: /videogame/
---

<div class="page--videogame">
  {% include layout/header.html %}

  <div class="content">

    <!--hero-->
    {% include components/hero.html
    question='How can I make a really cool video game with p5?'
    class='programming<br>basics' kind='illustration<br>&amp; programming' date='fall 2016'%}

    <!--the project-->
    <div class="project-section illustrating light">
      {% include components/subhead.html
      subhead='illustrating' %}

      {% include components/text-block.html
      class='text-block'
      par='For some reason I had really been craving a reason to illustrate buildings in Boston, so when I was assigned this project I immediately started thinking about how to incorporate that type of illustration. The concept of the game was inspired by this one time I went on a run in the city and tripped flat onto my face trying to dodge something on the sidewalk. I decided to take that experience and turn it into a fun game of dodging the various things one finds on the sidewalks in Boston. This concept opened the  door to some really awesome illustration opportunities that I was excited to make.' %}
    </div>

    <!--photo-->
    <div class="scroll">
      <div class="project-section dark"></div>
    </div>

    <!--r+d-->
    <div class="project-section programming light">

      {% include components/subhead.html
      subhead='programming' %}

      {% include components/text-block.html
      class='text-block'
      par='This was definitely my favorite project of the semester to code, as it was so interesting to find solutions to manage the large .svg files I’d created, change the seasons smoothly, adjust pacing just right, and make sure the obstacles responded to the changing seasons. Initially, the main character started out as a static image similar to the obstacles, but after iteration I decided it felt too unnatural and proceeded to have fun making her walk and do a split in the air.' %}

      {% include components/image-full-width.html
      img='videogame/section--characters.png' %}

    </div>

    <!--gif-->
    <div class="project-section team dark">
      {% include components/image-block.html
      class='image-block-caption'
      img='videogame/section--game-over.gif'
      caption='sometimes you lose ¯\_(ツ)_/¯' %}
    </div>

    <!-- prev-next -->
    {% include components/prev-next.html
      color = 'light'
      prev = 'zealery'
      next = 'trailtag'
    %}

  </div>

  {% include layout/footer.html %}
</div>
