/* ==========================================================================

   Layout -> Footer

   ========================================================================== */

.footer {
  position: absolute;
  bottom: 0;

  .footer__container {
    width: 100vw;
    @media (min-width: $bp-tablet-vert) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .footer__links--container {
    display: none;
    @media (min-width: $bp-tablet-vert) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media (min-width: $bp-tablet-horiz) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .js-hide {
    opacity: 0;
  }

  .link__container {
    width: 100%;
    @media (min-width: $bp-laptop) {
      width: 65%;
      max-width: 700px;
    }
  }

  .link__item {
    margin-left: 1em;
    padding: 5px 10px 10px 10px;
    background-position: 0 0;
    background-size: 100% 200%;
    transition: all $hover-time-footer $ease-in-out-quint;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background-position: 0 100%;
      .link__mask {
        transform: translateX(0);
        .link__hover {
          transform: translateX(0);
        }
      }
    }
  }

  .link__mask {
    position: absolute;
    overflow: hidden;
    transform: translateY(106%);
    transition: transform $hover-time-footer $ease-in-out-quint;
    pointer-events: none;
  }

  .link__hover {
    transform: translateY(-106%);
    transition: transform $hover-time-footer $ease-in-out-quint;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $c-white;
  }

  .footer__link {
    @include fluid-font-size(16px, 24px, $bp-mobile, $bp-tablet-vert);
    line-height: 34px;
    @media (min-width: $bp-desktop-xxl) {
      font-size: 34px;
    }
  }

  .site-credit {
    text-align: center;
    width: 100%;
  }

  .site-credit__text {
    @include fluid-font-size(10px, 12px, $bp-mobile, $bp-tablet-vert);
    color: $c-me--footer;
    align-self: baseline;
    @media (min-width: $bp-desktop-xxl) {
      font-size: 16px;
    }
  }

}
