body {
  background-color: $c-me--light;
}

.page--home {
    //////////////////WORK STYLES

    .work__links--container {
      display: block;
      width: 85%;
      margin: 0 auto;
      padding-bottom: 75px;
      @media (min-width: $bp-tablet-vert) {
        width: 100%;
        padding-top: 40px;
      }
    }

    .work__link {
      border-bottom: solid 6px $c-me--purple;
      @include fluid-font-size(50px, 70px, $bp-mobile, $bp-tablet-vert);
      @media (min-width: $bp-tablet-vert) {
        @include fluid-font-size(75px, 95px, $bp-tablet-vert, $bp-laptop);
      }
      &.js-text-white {
        color: $c-white;
        border-bottom: solid 6px $c-white;
      }
      &.js-text-outline {
        color: $c-transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $c-white;
        border-bottom: none;
      }
    }

    .link--container {
      margin-top: 50px;
      width: fit-content;
    }

    .hover__img {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      // transform: translateY(100%);
      z-index: -1;
      opacity: 0;
      transition: opacity .6s ease;
    }

    .hover__description {
      display: block;
      position: relative;
      opacity: 0;
      margin-top: 10px;
      opacity: 0;
    }

    .hover__description--text {
      font-size: 24px;
      color: $c-white;
      margin-top: 0;
    }

    .js-show {
      opacity: 1;
    }

}
