body {
  background-color: $c-me--light;
}

.page--home {
  position: relative;

  .page-section {
    @media (min-width: $bp-tablet-vert) {
        padding-left: 7em;
    }
  }

  //////////////////NAV STYLES
    .nav {
      display: none;
    }

/////////////////FOOTER STYLES
  .link__item {
    background-image: linear-gradient(to top, $c-me--purple, $c-me--purple 50%, transparent 50%, transparent);
  }

  .footer__link {
    color: $c-me--purple;
  }
}
