.page--illustrations{
  position: relative;

  //////////////////HERO STYLES

  .hero {
    align-items: flex-start;
  }

  h1 {
    -webkit-text-fill-color: rgba(0, 0, 0, 0); //overrides color (regardless of order)
    -webkit-text-stroke-color: $c-illustrations--purple; //overrides color (regardless of order)
  }

  h3 {
    color: $c-illustrations--purple;
  }

  .hero {
    background-color: $c-illustrations--purple;
    background: url(/img/illustrations/hero-background.png);
    background-size: cover;

    h1 {
      margin-top: 8%;
    }
  }

  ////////////////SECTION STYLES

  .light {
      background-color: $c-illustrations--light;
      h2 {
        color: $c-illustrations--purple;
      }
      .caption {
        color: $c-illustrations--purple;
        border-color: $c-illustrations--purple;
      }
  }

  .white {
      background-color: $c-white;
      h2 {
        color: $c-illustrations--purple;
      }
      .caption {
        color: $c-illustrations--purple;
        border-color: $c-illustrations--purple;
      }
  }

  .dark {
      background-color: $c-illustrations--purple;
      h2 {
        color: $c-white;
      }
      p {
        color: $c-white;
      }
      .caption {
        color: $c-white;
      }
  }

  .img--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .img-3 {
    width: 30%;
    height: 30%;
    transition: all .3s ease;
  }

  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-2deg); }
    40% { transform: rotate(2deg); }
    60% { transform: rotate(-2deg); }
    80% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
  }

  .img-1 {
    width: 100%;
    height: 100%;
  }

  .img-2 {
    width: 50%;
    height: 50%;
  }

  .illustration--img {
    margin: 3em 0;
    &:hover {
      animation-duration: .6s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-name: wiggle;
    }
  }

//////////////////NAV STYLES
  .nav {
    .nav__hamburger--icon {
      stroke: $c-illustrations--purple;
    }
    .nav__slider {
      box-shadow: 0 0 25px $c-illustrations--purple;
    }
    .divider {
      background-color: $c-illustrations--purple;
    }
    .slider--item {
      background-image: linear-gradient(to right, $c-illustrations--purple, $c-illustrations--purple 50%, transparent 50%, transparent);
      &:hover {
        .slider--link {
          color: $c-illustrations--purple;
        }
      }
    }
    .slider--link {
      color: $c-illustrations--purple;
    }
    .nav__slider--icon {
      stroke: $c-illustrations--purple;
    }
  }

/////////////////PREV-NEXT STYLES
  .link__item {
    background-image: linear-gradient(to top, $c-illustrations--purple, $c-illustrations--purple 50%, transparent 50%, transparent);
  }

  .prev-next__link {
    color: $c-illustrations--purple;
  }

  .footer__link {
    color: $c-illustrations--purple;
  }

  .site-credit__text {
    color: $c-illustrations--footer;
  }

}
