.page--millie {
  position: relative;

  ////////////////SECTION STYLES

  .light {
      background-color: $c-me--light;
      h2 {
        color: $c-illustrations--purple;
      }
      .caption {
        color: $c-illustrations--purple;
        border-color: $c-illustrations--purple;
      }
  }

  .page-section {
    justify-content: center;
  }
  
  .img--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2em;
  }


  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-2deg); }
    40% { transform: rotate(2deg); }
    60% { transform: rotate(-2deg); }
    80% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
  }

  .img {
    height: 100%;
  }

}
