.page--nifty {

  h1 {
    -webkit-text-fill-color: $c-nifty--purple; //overrides color (regardless of order)
  }

  .hero {
    background-color: $c-nifty--purple;
  }

//////////////////NAV STYLES
  .nav {
    a {
      color: $c-nifty--purple;
    }
    .slider--item:hover {
      background-color: $c-nifty--purple;
    }
  }

}
