.page--nifty {
  position: relative;

  h1 {
    -webkit-text-fill-color: $c-nifty--purple; //overrides color (regardless of order)
  }

  .hero {
    background-color: $c-nifty--purple;
  }

//////////////////NAV STYLES
  .nav {
    a {
      color: $c-nifty--purple;
    }
    .slider--item:hover {
      background-color: $c-nifty--purple;
    }
  }

  /////////////////PREV-NEXT STYLES
    .link__item {
      background-image: linear-gradient(to top, $c-nifty--purple, $c-nifty--purple 50%, transparent 50%, transparent);
    }

    .prev-next__link {
      color: $c-nifty--purple;
    }

    .footer__link {
      color: $c-nifty--purple;
    }

}
