.page--trailtag { //this is to make sure it only shows up on trailtag page

  //HERO STYLES
  h1 {
    -webkit-text-fill-color: $c-trailtag--teal; //overrides color (regardless of order)
  }

  .hero {
    background-color: $c-trailtag--teal;
  }

  //SECTION STYLES
  .light {
    .project-section {
      background-color: $c-trailtag--light;
      h2 {
        color: $c-trailtag--teal;
      }
    }
  }

  .white {
    .project-section {
      background-color: $c-white;
      h2 {
        color: $c-trailtag--teal;
      }
    }
  }

  .dark {
    .project-section {
      background-color: $c-trailtag--teal;
      h2 {
        color: $c-white;
      }
      p {
        color: $c-white;
      }
    }
  }

  //R+D STYLES
  .research {
    .section--img2 {
      width: 100%;
      padding-top: 50px;
      @media (min-width: $bp-laptop) {
        padding-top: 75px;
        padding-left: 20%;
        width: 85%;
      }
      @media (min-width: $bp-desktop) {
        padding-left: 25%;
      }
    }
  }

    //HIKE STYLES
    .hike {
      .project-section {
        background: url(/img/trailtag/section--hike.png);
        background-size: cover;
      }
    }

}
