.page--trailtag { //this is to make sure it only shows up on trailtag page
  position: relative;
  //////////////////HERO STYLES

  h1 {
    -webkit-text-fill-color: rgba(0, 0, 0, 0); //overrides color (regardless of order)
  }

  h3 {
    color: $c-trailtag--teal;
  }

  .hero {
    background-color: $c-trailtag--teal;
    background: url(/img/trailtag/hero-background.png);
    background-size: cover;

    .hero__img {
      @media (min-width: $bp-tablet-vert) {
        position: absolute;
        width: 60%;
        top: 30vh;
        left: 40vw;
      }
      @media (min-width: $bp-laptop) {
        width: 50%;
        top: 5vh;
        left: 50vw;
      }
    }
  }

  ////////////////SECTION STYLES

  .light {
    background-color: $c-trailtag--light;
    h2 {
      color: $c-trailtag--teal;
    }
    .caption {
      color: $c-trailtag--teal;
      border-color: $c-trailtag--teal;
    }
    .text-block__link {
      color: $c-trailtag--teal;
      border-bottom: 1px solid $c-trailtag--teal;
    }
  }

  .white {
    background-color: $c-white;
    h2 {
      color: $c-trailtag--teal;
    }
    .caption {
      color: $c-trailtag--teal;
      border-color: $c-trailtag--teal;
    }
    .text-block__link {
      color: $c-trailtag--teal;
      border-bottom: 1px solid $c-trailtag--teal;
    }
  }

  .dark {
    background-color: $c-trailtag--teal;
    h2 {
      color: $c-white;
    }
    p {
      color: $c-white;
    }
    .caption {
      color: $c-white;
    }
    .text-block__link {
      color: $c-white;
      border-bottom: 1px solid $c-white;
    }
  }

  .project {
    display: flex;
    align-items: center;
  }

  .hike {
    .page-section {
      height: 400px;
      background: url(/img/trailtag/section--hike.png);
      background-size: cover;
    }
  }

  .hover-image-xy {
    .page-section {
      height: 400px;
      background: url(/img/trailtag/section--ux.png);
      background-size: 300%;
    }
  }

  .navigation {
    .image-full-width {
      background-image: url("/img/trailtag/section--navigation.png");
    }
  }

//////////////////NAV STYLES
  .nav {
    .nav__hamburger--icon {
      stroke: $c-trailtag--teal;
    }
    .nav__slider {
      box-shadow: 0 0 25px $c-trailtag--shadow;
    }
    .divider {
      background-color: $c-trailtag--teal;
    }
    .slider--item {
      background-image: linear-gradient(to right, $c-trailtag--teal, $c-trailtag--teal 50%, transparent 50%, transparent);
      &:hover {
        .slider--link {
          color: $c-trailtag--teal;
        }
      }
    }
    .slider--link {
      color: $c-trailtag--teal;
    }
    .nav__slider--icon {
      stroke: $c-trailtag--teal;
    }
  }

/////////////////PREV-NEXT STYLES
  .link__item {
    background-image: linear-gradient(to top, $c-trailtag--teal, $c-trailtag--teal 50%, transparent 50%, transparent);
  }

  .prev-next__link {
    color: $c-trailtag--teal;
  }

  .footer__link {
    color: $c-trailtag--teal;
  }

}
