.page--trailtag { //this is to make sure it only shows up on trailtag page

  //HERO STYLES
  h1 {
    -webkit-text-fill-color: $c-trailtag--teal; //overrides color (regardless of order)
  }

  h3 {
    color: $c-trailtag--teal;
  }

  .hero {
    background-color: $c-trailtag--teal;
  }

  //SECTION STYLES
  .light {
      background-color: $c-trailtag--light;
      h2 {
        color: $c-trailtag--teal;
      }
      .caption {
        color: $c-trailtag--teal;
        border-color: $c-trailtag--teal;
      }
  }

  .white {
      background-color: $c-white;
      h2 {
        color: $c-trailtag--teal;
      }
      .caption {
        color: $c-trailtag--teal;
        border-color: $c-trailtag--teal;
      }
  }

  .dark {
      background-color: $c-trailtag--teal;
      h2 {
        color: $c-white;
      }
      p {
        color: $c-white;
      }
      .caption {
        color: $c-white;
      }
  }

    //HIKE STYLES
    .hike {
      .project-section {
        background: url(/img/trailtag/section--hike.png);
        background-size: cover;
      }
    }

    .research {
      .project-section {
        .caption {
          position: relative;
          bottom: 60px;
        }
      }
    }


    //VISUAL STYLES
    .visual {
      .img--block {
        width: 100%;
        padding-top: 50px;
        @media (min-width: $bp-laptop) {
          padding-top: 75px;
          height: 450px;
          width: auto;
        }
      }
    }

    //NAVIGATION STYLES
    .navigation {
      .section--img2 {
        width: 100%;
        padding-top: 50px;
      }
    }

    //TEAM STYLES
    .team {
      .section--img1 {
        width: 100%;
        padding-top: 50px;
        @media (min-width: $bp-laptop) {
          padding-top: 75px;
          padding-left: $m-grid-col2;
        }
      }
    }


}
