.page--videogame{
  position: relative;
  //////////////////HERO STYLES


  h1 {
    -webkit-text-fill-color: rgba(0, 0, 0, 0); //overrides color (regardless of order)
  }

  h3 {
    color: $c-trailtag--teal;
  }

  .hero {
    background-color: $c-trailtag--teal;
    background: url(/img/videogame/hero-background-mobile.png);
    background-size: cover;
    @media (min-width: $bp-tablet-vert) {
      background: url(/img/videogame/hero-background.png);
      background-size: cover;
    }

    h1 {
      margin-top: 8%;
    }
  }

  ////////////////SECTION STYLES

  .light {
      background-color: $c-videogame--light;
      h2 {
        color: $c-videogame--blue;
      }
      .caption {
        color: $c-videogame--blue;
        border-color: $c-videogame--blue;
      }
  }

  .white {
      background-color: $c-white;
      h2 {
        color: $c-videogame--blue;
      }
      .caption {
        color: $c-videogame--blue;
        border-color: $c-videogame--blue;
      }
  }

  .dark {
      background-color: $c-videogame--blue;
      h2 {
        color: $c-white;
      }
      p {
        color: $c-white;
      }
      .caption {
        color: $c-white;
      }
  }

  .illustrating {
    display: flex;
    align-items: center;
  }

  .hover-image-x {
    .page-section {
      height: 400px;
      background: url(/img/videogame/section--scroll.png);
      background-size: cover;
      cursor: ew-resize;
    }
  }

  .programming {
    .image-full-width {
      background-image: url("/img/videogame/section--characters.png");
      @media (min-width: $bp-laptop) {
        background-image: none;
      }
    }
  }

//////////////////NAV STYLES
  .nav {
    .nav__hamburger--icon {
      stroke: $c-videogame--blue;
    }
    .nav__slider {
      @media (min-width: $bp-tablet-vert) {
        box-shadow: 0 0 25px $c-videogame--blue;
      }
    }
    .divider {
      background-color: $c-videogame--blue;
    }
    .slider--item {
      background-image: linear-gradient(to right, $c-videogame--blue, $c-videogame--blue 50%, transparent 50%, transparent);
      &:hover {
        .slider--link {
          color: $c-videogame--blue;
        }
      }
    }
    .slider--link {
      color: $c-videogame--blue;
    }
    .nav__slider--icon {
      stroke: $c-videogame--blue;
    }
  }

/////////////////PREV-NEXT STYLES
  .link__item {
    background-image: linear-gradient(to top, $c-videogame--blue, $c-videogame--blue 50%, transparent 50%, transparent);
  }

  .prev-next__link {
    color: $c-videogame--blue;
  }

  .footer__link {
    color: $c-videogame--blue;
  }

  .site-credit__text {
    color: $c-videogame--footer;
    a {
      color: $c-videogame--footer;
      border-bottom: solid 1px $c-videogame--footer;
    }
  }

}
