.page--zealery { //this is to make sure it only shows up on zealery page

  //HERO STYLES
  h1 {
    -webkit-text-fill-color: $c-zealery--pink; //overrides color (regardless of order)
  }

  .hero {
    background-color: $c-zealery--pink;
  }

  .hero__img--container {
    display: none;
    @media (min-width: $bp-tablet-vert) {
      display: flex;
      justify-content: flex-end;
      width: 105vw;
    }
  }

  .hero__img {
    @media (min-width: $bp-tablet-vert) {
      position: absolute;
      &--left {
        width: 30vw;
        top: 400px;
        right: 20%;
        @media (min-width: $bp-desktop) {
          top: 450px;
          right: 20%;
        }
      }
      &--right {
        width: 40vw;
      }
    }
  }

  //SECTION STYLES
  .light {
    .project-section {
      background-color: $c-zealery--light;
      h2 {
        color: $c-zealery--pink;
      }
    }
  }

  .dark {
    .project-section {
      background-color: $c-zealery--pink;
      h2 {
        color: $c-white;
      }
      p {
        color: $c-white;
      }
    }
  }

  .white {
    .project-section {
      background-color: $c-white;
      h2 {
        color: $c-zealery--pink;
      }
    }
  }

  //WIREFRAMES PROJECT SECTION
  .wireframes {
    .section--img2 {
      padding-top: 75px;
      width: 100%;
    }
  }

  //HIFI PROJECT SECTION
  .hifi {
    .section--img1 {
      padding-bottom: 75px;
      width: 100%;
    }
  }

  //GUIDELINES PROJECT SECTION
  .guidelines {
    .section--img2 {
      padding-top: 75px;
      padding-left: 25%;
      width: 85%;
    }
    .section--img3 {
      padding-top: 75px;
      width: 100%;
    }
  }


}

// .hello:nth-child(2n) { //targets the class, then nth child, then every second (even), then the h1's in that
//     h1 {
//     -webkit-text-fill-color: green!important;
//   }
// }
