.page--zealery { //this is to make sure it only shows up on zealery page

  h1 {
    -webkit-text-fill-color: $c-zealery--pink; //overrides color (regardless of order)
  }

  .hero {
    background-color: $c-zealery--pink;
  }

}
