.hero {
  width: 100vw;
  height: 100%; //shouldn't cut off at 100vh on mobile
  padding: 100px 0;
}

.label {
  display: flex; //sets width to the size of its contents
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 15px;
  border-top: solid 1px #fff;
  width: 100%;
}

.label__section--title {
  font-family: 'Bitter', serif;
  font-size: .75em;
  color: #fff;
}

.label__section--answer {
  padding-top: 20px;
  font-family: 'Asap', sans-serif;
  font-size: 1em;
  color: #fff;
}

.hero__img--container {
  display: none;
}

@media (min-width: $bp-tablet-vert) {

  .hero {
    height: 100vh;
    overflow: hidden;
    padding: 100px 4.5em;
  }

  //label

  .label {
    display: inline-flex; //sets width to the size of its contents
    width: auto; //override the width of the mobile size one
  }

  .label__section {
    margin-right: 3.5em;
  }

  .label__section:last-child {
    margin-right: 0; //takes the margin-right off of the last label section
  }

  .label__section--title {
    font-size: .6em;
  }

  .label__section--answer {
    padding-top: 10px;
    font-size: .75em;
  }
}
