.hero {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100%; //shouldn't cut off at 100vh on mobile
  padding: 100px 0;
  @media (min-width: $bp-tablet-vert) {
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
    padding: 100px 4.5em;
  }

  .before-load {
    transition: none !important;
    opacity: 0;
    transform: translateY(10px);
  }
}

.question {
  transition: all .5s $transition-type;
  opacity: 1;
  transform: translateY(0);
}

.label {
  transition: all .5s $transition-type;
  transition-delay: .2s;
  opacity: 1;
  transform: translateY(0);
  display: flex; //sets width to the size of its contents
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 15px;
  border-top: solid 1px $c-white;
  width: 100%;
  @media (min-width: $bp-tablet-vert) {
    display: inline-flex; //sets width to the size of its contents
    width: auto; //override the width of the mobile size one
  }
}

.label__section {
  @media (min-width: $bp-tablet-vert) {
    margin-right: 3.5em;
    &:last-child {
      margin-right: 0; //takes the margin-right off of the last label section
    }
  }
}

.label__section--title {
  font-family: $f-bitter;
  font-size: .75em;
  color: $c-white;
  @media (min-width: $bp-tablet-vert) {
    font-size: .6em;
  }
}

.label__section--answer {
  padding-top: 20px;
  font-family: $f-asap;
  font-size: 1em;
  color: $c-white;
  @media (min-width: $bp-tablet-vert) {
    padding-top: 10px;
    font-size: .75em;
  }
}

.label__link {
  color: $c-white;
  border-bottom: 1px solid $c-white;
}
