.image-block {
  .grid--col2 {
    padding-left: 3.5%;
    margin-bottom: 50px;
    @media (min-width: $bp-laptop) {
      padding-left: $m-grid-col2;
      max-width: $w-grid-col2;
    }
  }
}

.image-block-caption {
  .container {
    .block {
      display: flex;
      flex-flow: column;
      padding-left: 3.5%;
      width: 100%;
      @media (min-width: $bp-tablet-vert) {
        flex-flow: row-reverse;
        align-items: center;
        padding-left: $m-grid-col1;
      }

      .grid--col2 {
        @media (min-width: $bp-tablet-vert) {
          padding-left: 3.5%;
        }
        @media (min-width: $bp-laptop) {
          padding-top: 20px;
          padding-left: 10%;
          width: $w-grid-col2;
        }
      }

      .caption {
        @media (min-width: $bp-tablet-vert) {
          width: 50%;
        }
        @media (min-width: $bp-laptop) {
          width: 20%;
          padding-top: 40px;
        }
      }
    }
  }

}

.img-block__image {
  width: 100%;
}
