.image-full-width {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  @media (min-width: $bp-laptop) {
    height: fit-content;
  }

  .img--full {
    display: none;
    @media (min-width: $bp-laptop) {
      display: block;
      width: 100%;
    }
  }
}
