.nav {

  .nav--hamburger-button-container {
    top: 0;
    position: fixed;
    margin: 16px;
    @media (min-width: $bp-tablet-vert) {
      margin: 36px 72px;
    }
  }

  .nav--hamburger-button {
    width: 25px;
    padding: 0;
  }

  .nav--hamburger-icon {
    width: auto;
    stroke: #fff;
  }

  //SLIDERS

  .slider {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $c-white;
    transform: translateX(-100vw);
    transition: all .3s linear;
    .js-slider-open & {
      transform: translateX(0);
    }
    @media (min-width: $bp-tablet-vert) {
      width: 50vw;
    }
    @media (min-width: $bp-laptop) {
      width: 25vw;
    }

    .nav--slider-button-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .nav--slider-button {
      margin: 16px 16px 0 0;
      padding: 0;
      @media (min-width: $bp-tablet-vert) {
        margin: 36px 26px;
      }
    }

    .nav--slider-icon {
      width: 20px;
    }

    ul {
      list-style: none;
      padding: 45px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: $bp-tablet-vert) {
        padding: 0;
      }
    }

    .slider--item {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 6px 0;
      margin: 10px 0;

      a {
        text-decoration: none;
      }
    }

    .slider--item:hover {
      color: rgba(0, 0, 0, 0); //fallback color for browsers that don't support outline

      a {
        text-decoration: none;
        -webkit-text-stroke-width: 1.2px;
        -webkit-text-stroke-color: white;
      }
    }

  }

}
