.page-section {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  @media (min-width: $bp-tablet-vert) {
    min-height: 100vh;
    width: 100vw;
    padding: 60px 4.5em 30px 4.5em;
  }
  @media (min-width: $bp-laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .subhead--indented {
    @media (min-width: $bp-laptop) {
      padding-top: 20px;
      padding-left: $m-grid-col1;
    }
  }

  .caption--text {
    font-family: $f-bitter;
    font-size: 11px;
    line-height: 15px;
    padding-top: 8px;
    border-color: $c-white;
    border-top: solid 2px;
  }

}
