.prev-next {

  .prev-next__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vh - 200px); //100vh - paddingtop+paddingbottom
  }

  .next__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
