.project-section {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  @media (min-width: $bp-tablet-vert) {
    min-height: 100vh;
    width: 100vw;
    padding: 60px 4.5em 30px 4.5em;
  }
  @media (min-width: $bp-laptop) {
    padding-top: 100px;
  }

  .section--images {
    display: block;
  }

  .subhead--indented {
    @media (min-width: $bp-laptop) {
      padding-left: 10%;
    }
    @media (min-width: $bp-desktop) {
      padding-top: 20px;
      padding-left: 20%;
      width: 85%;
    }
  }

  .par--indented {
    @media (min-width: $bp-laptop) {
      padding-top: 20px;
      padding-left: 20%;
      width: 85%;
    }
    @media (min-width: $bp-desktop) {
      padding-left: 25%;
    }
  }
}
