.text-block-caption {
  .container {
    .block {
      display: flex;
      flex-flow: column;
      padding-left: 3.5%;
      @media (min-width: $bp-tablet-vert) {
        flex-flow: row-reverse;
        padding-left: 0;
        width: 85%;
        padding-left: $m-grid-col1;
      }

      .grid--col2 {
        @media (min-width: $bp-tablet-vert) {
          padding-left: 3.5%;
        }
        @media (min-width: $bp-laptop) {
          padding-top: 20px;
          padding-left: 10%;
          width: $w-grid-col2;
        }
      }

      .caption {
        padding-top: 15px;
        @media (min-width: $bp-tablet-vert) {
          width: 50%;
        }
        @media (min-width: $bp-laptop) {
          width: 20%;
          padding-top: 40px;
        }
      }

    }
  }

}
