/* ==========================================================================

   Util -> Variables

   ========================================================================== */

  @import "util/mixins";
  @import "util/variables";

/* ==========================================================================

   Base

   ========================================================================== */

  @import "base/normalize";
  @import "base/base";


/* ==========================================================================

   Layout

   ========================================================================== */

  @import "layout/header";
  @import "layout/footer";

/* ==========================================================================

   Pages

   ========================================================================== */


/* ==========================================================================

   Components

   ========================================================================== */

h1 {
  font-family: 'Bitter', serif;
  font-size: 5em;
  width: 75%;
  color: #fff; //fallback color for browsers that don't support outline
  -webkit-text-fill-color: #FF685A; //overrides color (regardless of order)
  -webkit-text-stroke-width: .01px;
  -webkit-text-stroke-color: white;
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 10% 4.5em;
  background-color: #FF685A;
}

//label

.label {
  display: inline-flex; //sets width to the size of its contents
  border-top: solid 1px #fff;
  padding-top: 1.5em;
}

.label__section {
  margin-right: 6em;
}

.label__section:last-child {
  margin-right: 0; //takes the margin-right off of the last label section
}

.label__section--title {
  font-family: 'Bitter', serif;
  font-size: .75em;
  color: #fff;
}

.label__section--answer {
  padding-top: .5em;
  font-family: 'Asap', sans-serif;
  font-size: 1em;
  color: #fff;
}

.hero__img {
  max-height: 100%;
  overflow: hidden;
}

.hero__img--left {
  position: absolute;
  left: 60%;
  top: 65%;
  width: 25%;
  height: auto;
}

.hero__img--right {
  position: absolute;
  left: 75%;
  top: 20%;
  width: 33%;
  height: auto;
}
