<div class="hero project-section {{ include.color }}">
  <div class="container">

    <!-- hero images-->
    <div class="hero__img--container">
      {% if include.img1 %}
        <img class="img-responsive hero__img hero__img--left" src="/img/{{ include.img1 }}" alt="">
      {% endif %}
      {% if include.img2 %}
        <img class="img-responsive hero__img hero__img--right" src="/img/{{ include.img2 }}" alt="">
      {% endif %}
    </div>

    <h1>{{ include.question }}</h1>

    <div class="label">
      {% if include.role %}
      <div class="label__section">
        <div class="label__section--title">role</div>
        <div class="label__section--answer">{{ include.role }}</div>
      </div>
      {% endif %}
      {% if include.client %}
      <div class="label__section">
        <div class="label__section--title">client</div>
        <div class="label__section--answer">{{ include.client }}</div>
      </div>
      {% endif %}
      {% if include.class %}
      <div class="label__section">
        <div class="label__section--title">class</div>
        <div class="label__section--answer">{{ include.class }}</div>
      </div>
      {% endif %}
      {% if include.kind %}
      <div class="label__section">
        <div class="label__section--title">kind</div>
        <div class="label__section--answer">{{ include.kind }}</div>
      </div>
      {% endif %}
      {% if include.date %}
      <div class="label__section">
        <div class="label__section--title">date</div>
        <div class="label__section--answer">{{ include.date  }}</div>
      </div>
      {% endif %}
    </div>

  </div>
</div>
