<div class="project__section">
  <div class="container">

    <h2>{{include.subhead}}</h2>

    <p>{{include.par1}}</p>

    {%if include.img1 != null%}
    <img class="img-responsive section__img1" src="/img/{{include.img1}} alt="{{include.alt}}"">
    {%endif%}

    {%if include.par2 != null%}
    <p>{{include.par2}}</p>
    {%endif%}

    {%if include.img2 != null%}
    <img class="img-responsive section__img2" src="/img/{{include.img2}} alt="{{include.alt}}"">
    {%endif%}

  </div>
</div>
