<div class="project-section">
  <div class="container">

    {% if include.img1 %}
      <img class="img-responsive section--images section--img1" src="/img/{{include.img1}}" alt="{{include.alt}}">
    {% endif %}

    <div class="subhead--indented">
      <h2>{{ include.subhead }}</h2>
    </div>

    <div class="par--indented">
      <p>{{ include.par1 }}</p>
    </div>

    {% if include.img2 %}
      <img class="img-responsive section--images section--img2" src="/img/{{include.img2}}" alt="{{include.alt}}">
    {% endif %}

    {% if include.par2 %}
      <div class="par--indented">
        <p>{{ include.par2 }}</p>
      </div>
    {% endif %}

    {% if include.img3 %}
      <img class="img-responsive section--images section--img3" src="/img/{{include.img3}}" alt="{{include.alt}}">
    {% endif %}

    {% if include.par3 %}
      <div class="par--indented">
        <p>{{ include.par3 }}</p>
      </div>
    {% endif %}

    {% if include.img4 %}
      <img class="img-responsive section--images section--img4" src="/img/{{include.img4}}" alt="{{include.alt}}">
    {% endif %}

    {% if include.par4 %}
      <div class="par--indented">
        <p>{{ include.par4 }}</p>
      </div>
    {% endif %}

    {% if include.img5 %}
      <img class="img-responsive section--images section--img5" src="/img/{{include.img5}}" alt="{{include.alt}}">
    {% endif %}



  </div>
</div>
