<footer class="footer">

  <div class="footer__container">
    <div class="link__item">
      <div class="link__mask">
        <div class="link__hover"><a class="footer__link">view my resume</a></div>
      </div>
      <a class="footer__link" href="/img/pdf/tennett_resume_Feb2018.pdf" target="_blank">view my resume</a>
    </div>

    <div class="link__item">
      <div class="link__mask">
        <div class="link__hover"><a class="footer__link">email me</a></div>
      </div>
      <a class="footer__link" href="mailto:tennett.j@gmail.com">email me</a>
    </div>

    <div class="link__item">
      <div class="link__mask">
        <div class="link__hover"><a class="footer__link">are we connected on linkedin?</a></div>
      </div>
      <a class="footer__link" href="https://www.linkedin.com/in/julianatennett/" target="_blank">are we connected on linkedin?</a>
    </div>

    <div class="link__item">
      <div class="link__mask">
        <div class="link__hover"><a class="footer__link">peek @ my dribbble</a></div>
      </div>
      <a class="footer__link" href="https://dribbble.com/julietennett" target="_blank">peek @ my dribbble</a>
    </div>

  </div>


</footer>
