<header class="header">
  <div class="nav">

    <div class="nav__hamburger">

      <div class="nav__hamburger--button-container">
        <button class="nav__hamburger--button">
          {% include icons/hamburger.html
            class='nav--hamburger-icon' %}
        </button>
      </div>

    </div>

    <div class="nav__slider">

      <div class="nav__slider--button-container">
        <button class="nav__slider--button">
          {% include icons/x.html
            class='nav__slider--icon' %}
        </button>
      </div>

      <ul>
        <li class="slider--item"><a href="/_pages/trailtag.html">trailtag</a></li>
        <li class="slider--item"><a href="/_pages/zealery.html">zealery</a></li>
        <li class="slider--item"><a href="/_pages/nifty.html">nifty</a></li>
      </ul>
    </div>

  </div>
</header>
