<header class="header">
  <div class="nav">

    <div class="nav--hamburger">

      <div class="nav--hamburger-button-container">
        <button class="nav--hamburger-button">
          {% include icons/hamburger.html
            class='nav--hamburger-icon' %}
        </button>
      </div>

    </div>

    <div class="slider">

      <div class="nav--slider-button-container">
        <button class="nav--slider-button">
          {% include icons/x.html
            class='nav--slider-icon' %}
        </button>
      </div>

      <ul>
        <li class="slider--item"><a href="/_pages/trailtag.html">trailtag</a></li>
        <li class="slider--item"><a href="/_pages/zealery.html">zealery</a></li>
        <li class="slider--item"><a href="/_pages/nifty.html">nifty</a></li>
      </ul>
    </div>

  </div>
</header>
