/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 16px;
}

body {
  -moz-font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-size: 16px;
}

*, :after, :before {
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

button {
  background: none;
  border: none;
}


/* Base -> Typography
   ========================================================================== */
h1 {
  @include fluid-font-size(40px, 50px, $bp-mobile, $bp-tablet-vert);
  font-family: $f-bitter;
  line-height: 1.4em;
  width: 90%;
  color: $c-white; //fallback color for browsers that don't support outline
  -webkit-text-stroke-width: .01px;
  -webkit-text-stroke-color: $c-white;
  @media (min-width: $bp-tablet-vert) {
    @include fluid-font-size(40px, 50px, $bp-tablet-vert, $bp-laptop);
    width: 85%;
  }
  @media (min-width: $bp-laptop) {
    @include fluid-font-size(60px, 75px, $bp-laptop, $bp-desktop-xxl);
    width: 75%;
  }
}

a {
 font-family: $f-bitter;
 color: $c-me--purple;
 text-decoration: none;
}

.secondary-link {
  font-family: $f-bitter;
  font-size: 1.75em;
  color: $c-me--purple;
  border-bottom: solid 4px $c-me--purple;
}

.link__underline {
  border-bottom: solid 6px $c-me--purple;
}

h2 {
  margin: 0;
  padding-bottom: 10px;
  font-family: $f-bitter;
  font-size: 25px;
  @media (min-width: $bp-laptop) {
    font-size: 45px;
  }
  @media (min-width: $bp-desktop) {
    font-size: 60px;
  }
}

h3 {
  margin: 0;
  font-family: $f-asap;
  font-weight: bold;
  font-size: 16px;
}

p {
  font-family: $f-asap;
  font-size: 16px;
  line-height: 1.4em;
}




/* Base -> Layout
   ========================================================================== */

.container {
  width: 85%;
  margin: 0 auto;
  @media (min-width: $bp-tablet-vert) {
    width: 100%;
  }
}



/* Base -> Components
   ========================================================================== */

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

.visually-hidden {
  @include hide;
}

.mobile-only {
  @include mq($bp-mobile) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include mq($bp-mobile) {
    display: block;
  }
}
